.info-header {
  background-color: #443266;
}

.app-title {
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  pointer-events:none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.user-number::after {
  content: attr(data);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  border-style: solid;
  border-color: #724967;
  color: #fff;
  text-align: center;
	position: absolute;
  margin-left: -50px;
  margin-top: -50px;
  pointer-events:auto;
}

.user-number:active {
  /* border-color: #724967; */
  background-color: #443266;
  /* color: #724967; */
  /* border-radius: 50%; */
  /* border-style: solid; */
}
