.main-section-wrapper {
  background-color: #f9f9fb;
  position: relative;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

#message-wrapper {
  width: 100%;
  transition: all 1s ease;
}

#message-wrapper.in {
  width: calc(100% - 300px);
  transition: all 1s ease;
}

#sidebar-wrapper {
	width: 0%;
	transition: all 1s ease;
}

#sidebar-wrapper.in {
	width: 300px;
	transition: all 1s ease;
}

.new-message-wrapper {
  position: relative;
  bottom: 150px;
  width: 200px;
  height: 50px;
  display: flex;
}

.new-message {
  height: 100%;
  width: 100%;
  margin: auto;
}

.new-message.in {
  transition: all 1s ease;
  height: 0;
  width: 0;
  overflow: hidden;
  font-size: 0;
}

.new-msg-text {
  position: relative;
  top: 25%;
  margin: auto;
}

.circle-wrapper {
  position: relative;
  bottom: 100px;
  right: -90%;
	height: 50px;
	width: 50px;
	z-index: 1500;
  display: flex;
}

.circle {
  padding: 10px;
  width: 100%;
  height: 100%;
  margin: auto;
  transition: all 1s ease;

}

.circle.in {
  padding: 0;
  width: 0;
  height: 0;
  margin: auto;
  transition: all 1s ease;
  overflow: hidden;
  font-size: 0;
}
