.main-section-wrapper {
  background-color: #f9f9fb;
  position: relative;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}

#message-wrapper {
  width: 100%;
  transition: all 1s ease;
}

#message-wrapper.in {
  width: calc(100% - 300px);
  transition: all 1s ease;
}

#sidebar-wrapper {
	width: 0%;
	transition: all 1s ease;
}

#sidebar-wrapper.in {
	width: 300px;
	transition: all 1s ease;
}
