.mini-chatbox-wrapper {
  width: 200px;
  height: 100%;
  overflow: hidden;
}

.mini-chatbox-wrapper.in {
  width: 200px;
  height: 40px;
  bottom: 0;
}

.mini-chatbox-header {
  height: 40px;
  z-index: 10;
}

.mini-chatbox-bubble {
  border-radius: .6em;
  background-color: #c5c3c9;
  line-height: 1rem;
  font-size: 0.8rem;
}

.mini-chatbox-footer {
  height: 30px;
  z-index: 10;
}

.mini-chatbox-footer.in {
  height: 0;
}

.close-chat-btn, .minimize-btn {
  cursor: pointer;
}
