.mini-chatbox-wrapper {
  width: 200px;
  height: 100%;
  overflow: hidden;
}

.mini-chatbox-wrapper.in {
  width: 200px;
  height: 40px;
  bottom: 0;
}

.mini-chatbox-header {
  height: 40px;
  z-index: 10;
  background-color: #f7e3e5;
}

.mini-chatbox-header.in {
  cursor: pointer;
}

.mini-chatbox-content {
  overflow-y: auto;
}
.mini-chatbox-content.in {
  height: 0;
}

.mini-chatbox-bubble-wrapper {
  max-width: 90%;
}

.mini-chatbox-bubble {
  border-radius: .6em;
  background-color: #f0edf5;
  color: #dc3545;
  line-height: 1rem;
  font-size: 0.8rem;
  word-break: break-word;
}

.mini-chatbox-bubble.sender {
  background-color: #dc3545;
  color: #f0edf5;
}

.mini-chatbox-footer {
  max-height: 100px;
  z-index: 10;
  overflow-y: auto;
}

.mini-chatbox-footer.in {
  height: 0;
}

.mini-chatbox-textarea {
  min-height: 32px;
}

.close-chat-btn, .minimize-btn {
  cursor: pointer;
}
