html {
  overflow-y: hidden;
}

body {
  background-color: #724967;
  overflow-x: hidden;
  height: 100%;
}

.App {
  width: 100%;
  margin: auto;
}

.App-header {
  color: white;
}

.scrollable-middle {
    position: fixed;
    top: 116px;
    left: 0;
    right: 0;
    height: calc(100% - 154px);
    z-index: 1020;
}

.App-intro {
  font-size: large;
}

.sticky-bottom {
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
