html {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: #727b84;
  height: 100%;
}

.App {
  width: 100%;
  margin: auto;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
  display: block;
}

.App-main {
  height: auto;
  width: 100%;
  bottom: 38px;
  margin: 0;
  max-height: calc(100% - 194.8px);
  overflow-y: auto;
  position: absolute;
  background-color: #727b84;
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.textform-col {
  padding-left: 0;
  padding-right: 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
