html, body, #root {
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0
}

#root {
  background-color: #724967;
  position: absolute;
  top: 0;
  left: 0;
}

.app-wrapper {
  width: 100%;
  height: 100%;
}

.whole-container {
  position: relative;
  height: calc(100% - 38px);
  top: 19px;
}

.main-container {
  position: relative;
  height: 100%;
}

.flex-top {
  position: relative;
  height: 124px;
}

.flex-middle {
  position: relative;
  height: 0;
  z-index: 1;
}

.flex-bottom {
  position: relative;
  bottom: 0;
}

.scrollable-middle {
    top: 124.8px;
    left: 0;
    right: 0;
    height: calc(100vh - 186.8px);
    /* height: 100%; */
    z-index: 1020;
}

.App-intro {
  font-size: large;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 992px){
  .container {
      width: 100%;
      max-width: none;
    }

  .whole-container {
    height: 100%;
    top: 0;
  }
}
