.textform-footer {
  background-color: #443266;
}

.send-msg-btn {
  width: 64px;
  height: 38px;
  background-color: #C3C3E5;
}

.text-div {
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-height: 100px;
  min-height: 20px;
  overflow-y: auto;
}

.text-div:empty:not(:focus):before{
  content:attr(place-text);
  color:grey;
}

.message-text {
  word-break: break-word;
}

.emoji-icon {
}
